body {
    /* margin: 1.5rem; */
    /* padding: 1.5rem; */
    font-family: "Open Sans", sans-serif;
    /* font-size: 30rem; */
    background-color: rgb(226, 224, 224);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}


